body {
  margin: 1%;
}

p {
  color: rgb(0, 0, 0);
  margin: 10px;
}

h1 {
  background-color: yellow;
}

h2 {
  background-color: green;
}

h3 {
  background-color: red;
}

.strava-badge- {
  display: inline-block;
  height: 16px;
}

.strava-badge- img {
  visibility: hidden;
  height: 16px;
}

.strava-badge-:hover {
  background-position: 0 -31px;
}

.strava-badge-follow {
  height: 16px;
  width: 16px;
  background: url(//badges.strava.com/echelon-sprite-16.png) no-repeat 0 0;
}

footer {
  display: block;
  border-style: inherit;
  color: antiquewhite;
}