body {
  margin: 1%;
  background-color: #FDF6E3
}

p {
  color: rgb(0, 0, 0);
  margin: 10px;
}

h1 {
  background-color: #EAE0C0;
}

h2 {
  background-color: #EAE0C0;
}

h3 {
  background-color: #EAE0C0;
}

.strava-badge- {
  display: inline-block;
  height: 16px;
}

.strava-badge- img {
  visibility: hidden;
  height: 16px;
}

.strava-badge-:hover {
  background-position: 0 -31px;
}

.strava-badge-follow {
  height: 16px;
  width: 16px;
  background: url(//badges.strava.com/echelon-sprite-16.png) no-repeat 0 0;
}

footer {
  display: block;
  border-style: inherit;
  color: antiquewhite;
}
.styled-table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
    min-width: 300px;
    box-shadow: 0 0 10px #ccc;
}
.styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
}
.styled-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.styled-table tr:nth-child(even) {
    background-color: #fafafa;
}